.questionGap {
  display: inline-block;
  background-color: var(--dark-transparent);
  background: linear-gradient(
    0.5turn,
    var(--light-transparent),
    var(--light-semi-transparent)
  );
  color: white;
  font-weight: bold;
  min-width: 120px;
  height: 42px;
  padding: 0 16px;
  border-radius: var(--unit);
  border: 2px solid white;
  color: var(--darkblue);
}

.questionContext {
  display: inline-block;
  line-height: 42px;
  align-content: center;
  color: var(--darkblue);
}

.quizQuestion {
  place-self: center;
  position: relative;
  margin-top: 60px;
}

.correct-answer {
  background-color: rgba(0, 233, 50, 0.493);
}
.incorrect-answer {
  background-color: rgba(255, 0, 0, 0.288);
}
.neutral {
  background-color: var(--light-transparent);
}
select {
  background-color: var(--light-semi-transparent);
  color: var(--dark-slightly-transparent);
  border-radius: var(--unit);
  height: 42px;
  font-weight: bold;
}

.quiz-header {
  position: absolute;
  top: 32px;
  left: 42px;
  display: inline-block;
  height: 32px;
  padding: var(--four-units);
  width: fit-content;
  background-color: var(--light-semi-transparent);
  border-left: 8px solid rgba(255, 68, 0, 0.788);
}

.quiz-header h2,
.quiz-header h3 {
  display: inline;
}

.quiz-header span {
  font-size: 24px;
  color: rgb(0, 102, 255);
  text-shadow: 2px 2px 1px rgb(182, 253, 255);
  padding: 0 var(--unit);
}
