aside {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 220px;
  border-right: 1px solid white;
  background-color: var(--light-semi-transparent);
  box-shadow: 8px 0 4px -4px var(--dark-transparent);
}

.page-link:hover {
  padding-right: 82px;
  background: linear-gradient(
    0.25turn,
    var(--dark-transparent),
    var(--darkblue-semi-transparent),
    var(--darkblue)
  );
  color: white;
}
.page-link:focus {
  padding-right: 82px;
  background-color: var(--darkblue);
  color: white;
}

.page-link {
  display: grid;
  text-align: start;
  text-decoration: none;
  place-self: start;
  text-align: center;
  margin: var(--four-units) 0;
  width: 70px;
  color: var(--darkblue);
  border-left: 4px solid rgb(255, 196, 0);
}

nav {
  position: absolute;
  top: var(--four-units);
  left: var(--four-units);
  width: 160px;
  background-color: var(--light-semi-transparent);
  height: 432px;
  box-shadow: 8px 8px 4px -4px var(--dark-transparent);
}

.left-aside-bottom-half {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100vh - 400px);
  width: 100%;
}