* {
  font-family:'Trebuchet MS','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}

body {
    position: relative;
    background-color: var(--background);
    background: linear-gradient(
      0.15turn,
      rgb(252, 179, 43),
      rgba(180, 219, 171, 0.315),
      rgb(97, 222, 253)
    );
    background-attachment: fixed;
    margin: 0;
}

